.image-bg1 {
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #c4c4c4;
  width: 264px;
  height: 264px;
}
.full-500-hour,
.rs-100001 {
  width: 566px;
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
}
.full-500-hour {
  position: absolute;
  top: 76px;
  left: 318px;
}
.rs-100001 {
  position: relative;
}
.rs-10000-container {
  position: absolute;
  top: 236px;
  left: 318px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon2,
.week3 {
  width: 20.7px;
  position: relative;
  height: 20px;
}
.week3 {
  width: 60.4px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.week2 {
  width: 89.3px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.icon3,
.lessons3 {
  width: 20.8px;
  position: relative;
  height: 13.4px;
}
.lessons3 {
  width: 78.6px;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
  height: 17px;
  flex-shrink: 0;
}
.lessons-11-week1,
.lessons2 {
  width: 107.8px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.lessons-11-week1 {
  position: absolute;
  top: 164px;
  left: 318px;
  width: 237px;
  height: 20px;
  gap: 38px;
  font-size: 14px;
  color: #8c8c8c;
}
.line-div {
  position: absolute;
  top: 215.5px;
  right: 15.5px;
  border-top: 1px dashed #d9d9d9;
  box-sizing: border-box;
  width: 577px;
  height: 1px;
}
.image-bg-group {
  width: 910px;
  position: relative;
  border-radius: 16px;
  background-color: rgba(252, 236, 225, 0.16);
  border: 1px solid #ff5a56;
  box-sizing: border-box;
  height: 296px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
